fastapi
uvicorn

# For Databases
sqlalchemy
psycopg2

#for env var
python-dotenv

#for email validation
pydantic[email]


#hashing

passlib[bcrypt]


#for testing
pytest
requests
pytest-cov==2.11.1

#for JWT tokens
python-jose[cryptography]

#for form-data
python-multipart

#for templating
jinja2

#for static files
aiofiles
